<?php

return new \SimpleMvc\Config([
    'database' => [
        'host'      => 'localhost',
        'username'  => 'root',
        'password'  => '',
        'dbname'    => 'simple_mvc',
        'charset'   => 'utf8',
    ]
]);